<div class="section_marketing">
    <h1>Welcome to SEED</h1>
    <div class="marketing_text">
        <div class="bullet"><div></div></div>
        <div class="bullet_text">
            Get started using SEED by uploading your buildings list (city tax assessor data) and then your EPA Portfolio Manager data.
        </div>
    </div>
    <div class="marketing_text">
        <div class="bullet"><div></div></div>
        <div class="bullet_text">
            Match-up your buildings list with the Portfolio Manager dataset to tie building records together. 
        </div>
    </div>
    <div class="marketing_text">
        <div class="bullet"><div></div></div>
        <div class="bullet_text">
            Use SEED's flexible, easy-to-use labeling system and project groupings to track the status of data submission, review, and compliance.
        </div>
    </div>
    <div class="powered_by_BE">
    	<div class="powered_by">Powered by:</div>
    	<div class="logo_BE">
    		<a href="https://www.buildingenergy.com/" target="_blank"><img src="{{STATIC_URL}}landing/images/logo_BE.png" alt="Building Energy Inc" title="Building Energy Inc" width="200" height="29"></a>
    	</div>
    </div>
</div>
