<div class="section">
    <div class="section_content_container">
        <div class="section_content">
            <div class="content_block row">
	            <div class="col-md-8 col-sm-8">
	            	<h1>Feedback</h1>
		            <p>We invite you to join the Building Energy online support chat room, sit in and speak up with your questions and feedback on the software.</p>
		            <p>To better foster collaboration between regions you will be able to see the conversations of your colleagues in other cities and even ping them directly!</p>
		            <p>You can also email the Building Energy support team at <a href="mailto:support@buildingenergy.com">support@buildingenergy.com</a>.</p>
		            <a href="https://www.hipchat.com/grFN3kteY" target="_blank" class="btn btn-lg btn-primary" style="margin-top: 10px;" role="button">Join the BE chat room</a>
	            </div>
            </div>
        </div>
    </div>
</div>